# chezmoi:template:line-endings=lf
export ZDOTDIR=~/.zsh

# Sequence: https://zsh.sourceforge.io/Doc/Release/Files.html#Startup_002fShutdown-Files

path_prefix=(
  ~/.local/bin
  /usr/local/bin
  /usr/local/sbin
)

path_suffix=()

set -o allexport

typeset -U path

# --- $PATH workaround ---
# OSes break things, in system zprofile, so we remember what we need
# in $PATH and then repeat it in user .zprofile
# See https://gist.github.com/pbrisbin/45654dc74787c18e858c and .zprofile

path=($path_prefix $path $path_suffix)

set +o allexport
{{- /* to speedup a bit
# typeset -T PROFILES profiles :
profiles=($ZDOTDIR/.zshenv)
*/}}
