# chezmoi:template:line-endings=lf
if [[ -o interactive ]] # https://unix.stackexchange.com/a/600541/190164
then
  # interactive
  greeting="Привет!\nХорошо помни, зачем ты здесь!"

  if false && [[ -x $(which lolcat) ]]
  then
    echo "${greeting}" | lolcat -r
  else
    echo "${greeting}"
  fi

fi

profiles+=$ZDOTDIR/.zlogin
