# chezmoi:template:line-endings=lf
set -o allexport

LANGUAGE=ru:en
LANG=ru_RU.UTF-8
LC_ALL=ru_RU.UTF-8

{{- if not .termux }}
eval $(locale)
{{- end }}

[[ "$XDG_SESSION_TYPE" == "wayland" ]] && MOZ_ENABLE_WAYLAND=1

{{- if not .headless }}
GCM_CREDENTIAL_STORE=secretservice
{{- end }}

# --- $PATH workaround ---
# See https://gist.github.com/pbrisbin/45654dc74787c18e858c and .zshenv
path=($path_prefix $path $path_suffix)

set +o allexport

unset path_prefix
unset path_suffix

profiles+=$ZDOTDIR/.zprofile
