# chezmoi:template:line-endings=lf
export ZDOTDIR=~/.zsh

# Sequence: https://zsh.sourceforge.io/Doc/Release/Files.html#Startup_002fShutdown-Files

path_prefix=(
  ~/.local/bin
  /usr/local/bin
  /usr/local/sbin
  ~/.dotnet/tools
  ~/go/bin
  ~/.gem/ruby/3.0.0/bin
  $path
)

path_suffix=()


set -o allexport

typeset -U path

# --- $PATH workaround ---
# OSes break things, in system zprofile, so we remember what we need
# in $PATH and then repeat it in user .zprofile
# See https://gist.github.com/pbrisbin/45654dc74787c18e858c and .zprofile

path=($path_prefix $path $path_suffix)

# LANGUAGE='ru:en'
# LC_ALL=$LANG

XDG_CACHE_HOME=~/.cache
XDG_CONFIG_HOME=~/.config
XDG_DATA_HOME=~/.data

{{ if eq .chezmoi.os "darwin" -}}
  XDG_RUNTIME_DIR=$XDG_CACHE_HOME
{{- end }}

typeset -TU XDG_DATA_DIRS xdg_data_dirs :
xdg_data_dirs=($XDG_DATA_HOME ~/.local/share $xdg_data_dirs)

typeset -TU XDG_CONFIG_DIRS xdg_config_dirs :
xdg_config_dirs=($XDG_CONFIG_HOME $xdg_config_dirs)

{{- if .termux }}
  TMPDIR=$PREFIX/tmp
{{- else }}
  TMPDIR=/tmp
{{- end }}

set +o allexport

# typeset -T PROFILES profiles :
profiles=($ZDOTDIR/.zshenv)
