# chezmoi:template:line-endings=lf
# === Interactive shell configuration ===

# echo Interactive привет!

# =============== MC & TERM fixes ==============

(ps -p $PPID | grep mc >/dev/null) && undermc=true || undermc=false
[[ $TERM =~ ^(xterm(-.+)?)\|(wezterm)\|(foot)\|(contour)$ ]] && powerterm=true || powerterm=false

# ============== History and jobs ==============

setopt HIST_IGNORE_SPACE EXTENDED_HISTORY SHARE_HISTORY NOTIFY

HISTFILE=$ZDOTDIR/.histfile
HISTSIZE=1000
SAVEHIST=1000

# ============= Locale & editors ===============

set -o allexport

if ! tput cols &>/dev/null; then
  # terminal not supported by curses
  TERM=xterm-256color
fi

if which nvim &>/dev/null; then
  EDITOR=$(which nvim)
else
  EDITOR=$(which vim)
fi
VISUAL=$EDITOR
SUDO_EDITOR=$EDITOR
PAGER=most
if ! $PAGER &>/dev/null ; then
  PAGER=less
fi
{{- if .termux }}
BROWSER=termux-open-url
{{- else }}
BROWSER=firefox
{{- end }}

set +o allexport

# ==== completion & highlighting =======

{{- if not (or .termux .windows) }}

{{-   $zppref := "/usr/share/zsh/plugins" -}}
{{-   if .darwin -}}
{{-     $zppref = "/usr/local/share" -}}
{{-   end }}

if [[ -d "{{- $zppref -}}" ]]; then
  source {{ $zppref -}}/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
  [[ ! $undermc ]] && source {{ $zppref -}}/zsh-autosuggestions/zsh-autosuggestions.zsh
fi

{{- end }}

zstyle ':completion:*' completer _complete _ignored _approximate
zstyle ':completion:*' group-name ''
zstyle :compinstall filename $ZDOTDIR/.zshrc

autoload -Uz compinit
compinit

{{- if not .cygwin }}
# ------ zoxide ------
# after compinit!

if which zoxide &>/dev/null; then
  eval "$(zoxide init zsh)"
fi
{{- end }}

# ============== Oh my ZSH =============

if {{ if not (or .linux .termux) }}! $undermc && {{ end }}[[ -d $ZDOTDIR/.oh-my-zsh ]]; then
  . $ZDOTDIR/.oh-my-zshrc
else
  setopt PROMPT_SUBST
  PROMPT='${(%):-%~} %# '

  if $undermc; then
    unset RPROMPT
  else
    RPROMPT=$'%{\e[2m%}%n@%m $(date +%T)%{\e[0m%}'
  fi
fi

# ============== Interactive aliases ===========

alias lynx='lynx -assume_charset=utf-8  -assume_local_charset=utf-8'
alias edit=$VISUAL
alias icat='kitty +kitten icat'
alias arialt=' aria2c -V --seed-time=0'
alias nb='PAGER=less nb'
alias termvars='env | grep '"'"'TERM.*='"'"'; echo "${COLUMNS}x${LINES}"'
alias cfms='cat $CLIFM_SELFILE'
alias cal='cal -m'
alias neovide='WINIT_UNIX_BACKEND=x11 neovide'
alias todofi=todofi.sh
alias todo=todo.sh

alias czm=chezmoi
czmcd () { cd $(chezmoi source-path) }
czmpull () { chezmoi update; chezmoi init --apply }

alias efish="SHELL=$(which fish) fish"

# ============= Interactive vars ===============

CLICOLOR=1
LS_OPTIONS='--color=auto'

profiles+=$ZDOTDIR/.zshrc
