# chezmoi:template:line-endings=lf
export ZDOTDIR=~/.zsh

# Sequence: https://zsh.sourceforge.io/Doc/Release/Files.html#Startup_002fShutdown-Files

path_prefix=(
  ~/.local/bin
  /usr/local/bin
  /usr/local/sbin
)

path_suffix=()

{{- if .windows }}
case "$OSTYPE" in
  cygwin*)
    CYGWIN_MSYS=cygwin
  ;;
  msys*)
    CYGWIN_MSYS=msys
    path_suffix+=( /mingw64/bin /mingw32/bin )
  ;;
esac
{{- end }}

do_d_stage() {
  stage_files=( $ZDOTDIR/.d/*.$1.d(N) )
  if (( $#stage_files != 0 )); then
    for dot_d in $stage_files; do
      . $dot_d
    done
  fi
}

# do_d_stage env -- let's try to save time

set -o allexport

typeset -U path

# --- $PATH workaround ---
# OSes break things, in system zprofile, so we remember what we need
# in $PATH and then repeat it in user .zprofile
# See https://gist.github.com/pbrisbin/45654dc74787c18e858c and .zprofile

path=($path_prefix $path $path_suffix)

XDG_CACHE_HOME=~/.cache
XDG_CONFIG_HOME=~/.config
XDG_DATA_HOME=~/.data

{{- if .darwin }}
XDG_RUNTIME_DIR=$XDG_CACHE_HOME
{{- end }}

{{- /*
# no, it is better withiut it https://specifications.freedesktop.org/basedir-spec/latest/#variables
typeset -TU XDG_DATA_DIRS xdg_data_dirs :
xdg_data_dirs=($XDG_DATA_HOME ~/.local/share $xdg_data_dirs)
*/}}

typeset -TU XDG_CONFIG_DIRS xdg_config_dirs :
xdg_config_dirs=($XDG_CONFIG_HOME $xdg_config_dirs)

{{- if .termux }}
TMPDIR=$PREFIX/tmp
{{- else }}
TMPDIR=/tmp
{{- end }}

set +o allexport

# typeset -T PROFILES profiles :
profiles=($ZDOTDIR/.zshenv)
