;; ~/.emacs
{{ template "emacs/init" dict "windows" .windows  "linux" .linux "android" true "darwin" .darwin "dpi" .dpi "style" .style "abs_roamg_cfg_dir" .abs_roamg_cfg_dir "home_dir" "/storage/emulated/0" }}
{{ template "emacs/setup"    dict "windows" .windows  "linux" .linux "android" true "darwin" .darwin "dpi" .dpi "style" .style "abs_roamg_cfg_dir" .abs_roamg_cfg_dir "home_dir" "/storage/emulated/0" }}
