{{- $c := .style.colors }}
default-timeout=5000
{{- /* ignore-timeout=1 */}}
font={{ .style.fav_font_name }} 14
border-radius=5

[urgency=low]
border-color=#{{ $c.ui.border.normal }}
background-color=#{{ $c.ui.chrome.background.normal }}
text-color=#{{ $c.ui.global.foreground.light }}

[urgency=normal]
border-color=#{{ $c.ui.border.normal }}
background-color=#{{ $c.ui.status.success }}
text-color=#{{ $c.ui.global.background.normal }}

[urgency=critical]
border-color=#{{ $c.ui.status.warning }}
background-color=#{{ $c.ui.status.error }}
text-color=#{{ $c.ui.global.background.normal }}

{{/*
[app-name=lightcord]
border-color=#88c0d0
*/ -}}

[summary~="log-.*"]
border-color=#{{ $c.ui.status.warning }}
