{{ if or .termux .windows -}}
.config/kitty/
.config/wezterm/
{{- end }}

{{ if not .windows -}}
.wezterm.lua
{{- end}}

{{ if or .headless .termux .darwin .windows -}}
.config/labwc/
.config/sway/
.config/wpaperd/
.config/xdg-desktop-portal-wlr/
.config/waybar/
{{- end }}

{{ if .windows -}}{{- /* Windows fails to symlink it */ -}}
.zshenv
{{- end }}

LICENSE
README.md
