{{ if or .termux .windows -}}
.config/kitty/
.config/wezterm/
{{- end }}

{{ if or .headless .termux (not .linux) -}}
.XCompose
{{- end }}

{{ if or .termux (not .linux) -}}
.config/foot/
{{- end }}

{{ if not .termux -}}
.termux
{{- end }}

{{ if or .headless .termux .windows -}}
.config/contour/
{{- end }}

{{ if not .windows -}}
.wezterm.lua
AppData/
{{- end}}

{{ if or .headless .termux .darwin .windows -}}
.config/labwc/
.config/sway/
.config/wpaperd/
.config/xdg-desktop-portal-wlr/
.config/waybar/
{{- end }}

{{ if .windows -}}{{- /* Windows fails to symlink it */ -}}
.zshenv
{{- end }}

LICENSE
README.md
