{{ if or .termux .windows -}}
.config/kitty/
.config/wezterm/
.local/bin/pip3-sys-up
.emacs.defaults
{{- end }}

{{ if or .headless .termux (not .linux) -}}
.XCompose
.Xmodmap
.Xresources
.local/bin/wlrsudo
.local/bin/swy
.config/wlogout/
{{- end }}

{{ if or .termux (not .linux) -}}
.config/foot/
{{- end }}

{{ if not .termux -}}
.termux
.local/bin/termux-*
bin/
{{- end }}

{{ if or .headless .termux .windows -}}
.config/contour/
.config/git/gitk
{{- end }}

{{ if not .windows -}}
.wezterm.lua
AppData/
{{- end}}

{{ if or .headless .termux .darwin .windows -}}
.config/labwc/
.config/gammastep/
.config/sway/
.config/swaylock/
.config/wpaperd/
.config/xdg-desktop-portal-wlr/
.config/waybar/
.config/mako/
.config/xkb/
.local/bin/*.autoexec.bat
.local/bin/swy
.local/bin/swy-8
.local/bin/swy-10
{{- end }}

{{ if .windows -}}
{{- /* Windows fails to symlink .zshenv */ -}}
.zshenv
.config/lf/
{{- end }}

{{ if or (not .windows) (not (lookPath "scoop")) -}}
.zsh/.d/75.scoop-shims.profile.d
{{- end }}


{{- if not (lookPath "yazi") }}
.zsh/.d/60.yazi.rc.d
{{- end }}

{{- if (or .windows not (lookPath "broot")) }}
.zsh/.d/65.broot.rc.d
.config/broot/
.local/share/broot/
{{- end }}
{{- if (or .windows (not (lookPath "broot")) (not (lookPath "fish"))) }}
.config/fish/functions/br.fish
.local/share/broot/launcher/fish/
{{- end }}

LICENSE
README.md
