[user]
	email = dluciv@dluciv.name
	name = Dmitry V. Luciv

{{/* Всякий раз 50 раз подумать, нужен ли нам LFS, прежде чем связываться. */ -}}
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[core]
	editor = nvim
	autocrlf = {{if .windows }}true{{else}}input{{end}}

{{/* Windows =) */ -}}
[gui]
	encoding = utf-8

{{/* На GitHub удобно аутентифицироваться его собственной тулзой. */ -}}
[credential "https://github.com"]
	helper =
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !gh auth git-credential

{{/*
Просто текстовый файл с паролями. Лучше использоавть пароли приложений.
И под Виндами лучше, когда работает git-credential-manager-core конечно...
*/ -}}
[credential]
{{- if not .windows }}
	helper = cache --timeout 7200
{{- else }}
	helper =
{{- end }}
	helper = store

{{/*
Нужно установить https://github.com/hickford/git-credential-oauth,
но пусть будет последний, ибо неудобен.
*/ -}}
{{- if not .windows }}
[credential]
	helper = cache --timeout 7200
	helper = oauth
{{- end }}

{{- if .termux }}
[safe]
	directory = /storage/emulated/0/_/safe_wf/personal/sensetive-syncs
{{- end }}
