[user]
	email = dluciv@dluciv.name
	name = Dmitry V. Luciv

{{/* Всякий раз 50 раз подумать, нужен ли нам LFS, прежде чем связываться. */ -}}
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[core]
	editor = nvim
	autocrlf = {{if .windows }}true{{else}}input{{end}}

{{/* Windows =) */ -}}
[gui]
	encoding = utf-8
	fontui   = -family \"Iosevka NF\" -size 12
	fontdiff = -family \"Iosevka NF\" -size 12

{{/* На GitHub удобно аутентифицироваться его собственной тулзой. */ -}}
[credential "https://github.com"]
	helper =
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !gh auth git-credential

[credential]
{{- if not .windows }}
	helper = cache --timeout 36000
{{- end }}
{{- if .darwin }}{{/* У OSX в /usr/local/etc/gitconfig есть helper = osxkeychain, ничего не добавляем */}}
{{- else if (or .termux (and .linux .headless)) }}
    {{- /* Просто текстовый файл с паролями. Лучше использоавть пароли приложений. */}}
	helper = store
{{- else if and .linux .headful }}
    helper = libsecret
{{- else if and .windows (eq .chezmoi.hostname "lucent") }}
	{{- /* На lucent git-credential-manager-core в системном gitconfig не работает */}}
	helper =
	helper = wincred
{{- else }}
# Что ты такое?..
{{- end }}

{{- /* Нужно установить https://github.com/hickford/git-credential-oauth, но пусть будет последний, ибо неудобен. */}}
{{- if not .windows }}
	helper = oauth
{{- end }}

{{- if .termux }} {{- /* Это конкретный телефон, но как его идентифицироваь?.. */ -}}
[safe]
	directory = /storage/emulated/0/_/safe_wf/personal/sensetive-syncs
{{- end }}
