# vim:ft=kitty

# Base16 Eighties - kitty color config
# Scheme by Chris Kempson (http://chriskempson.com)
background #{{ .style.colors.base00 }}
foreground #{{ .style.colors.base05 }}
selection_background #{{ .style.colors.base05 }}
selection_foreground #{{ .style.colors.base00 }}
url_color #{{ .style.colors.base04 }}
cursor #{{ .style.colors.base05 }}
active_border_color #{{ .style.colors.base03 }}
inactive_border_color #{{ .style.colors.base01 }}

active_tab_background #{{ .style.colors.base0D }}
active_tab_foreground #{{ .style.colors.base00 }}
inactive_tab_background #{{ .style.colors.base02 }}
inactive_tab_foreground #{{ .style.colors.base05 }}
tab_bar_background #{{ .style.colors.base00 }}

# normal
color0  #{{ .style.colors.ansi0 }}
color1  #{{ .style.colors.ansi1 }}
color2  #{{ .style.colors.ansi2 }}
color3  #{{ .style.colors.ansi3 }}
color4  #{{ .style.colors.ansi4 }}
color5  #{{ .style.colors.ansi5 }}
color6  #{{ .style.colors.ansi6 }}
color7  #{{ .style.colors.ansi7 }}

# bright
color8  #{{ .style.colors.ansi8 }}
color9  #{{ .style.colors.ansi9 }}
color10 #{{ .style.colors.ansiA }}
color11 #{{ .style.colors.ansiB }}
color12 #{{ .style.colors.ansiC }}
color13 #{{ .style.colors.ansiD }}
color14 #{{ .style.colors.ansiE }}
color15 #{{ .style.colors.ansiF }}

# extended base16 colors
color16 #f99157
color17 #d27b53
color18 #393939
color19 #515151
color20 #a09f93
color21 #e8e6df
