# vim:ft=kitty

# Base16 Eighties - kitty color config
# Scheme by Chris Kempson (http://chriskempson.com)
background #{{ .style.colors.base00 }}
foreground #{{ .style.colors.base05 }}
selection_background #{{ .style.colors.base05 }}
selection_foreground #{{ .style.colors.base00 }}
url_color #{{ .style.colors.base04 }}
cursor #{{ .style.colors.base05 }}
active_border_color #{{ .style.colors.base03 }}
inactive_border_color #{{ .style.colors.base01 }}

active_tab_background #{{ .style.colors.base0D }}
active_tab_foreground #{{ .style.colors.base00 }}
inactive_tab_background #{{ .style.colors.base02 }}
inactive_tab_foreground #{{ .style.colors.base05 }}
tab_bar_background #{{ .style.colors.base00 }}

# normal
color0 #2d2d2d
color1 #f2777a
color2 #99cc99
color3 #ffcc66
color4 #6699cc
color5 #cc99cc
color6 #66cccc
color7 #d3d0c8

# bright
color8 #747369
color9 #f2777a
color10 #99cc99
color11 #ffcc66
color12 #6699cc
color13 #cc99cc
color14 #66cccc
color15 #f2f0ec

# extended base16 colors
color16 #f99157
color17 #d27b53
color18 #393939
color19 #515151
color20 #a09f93
color21 #e8e6df
