include {{ $usr_prefix }}/share/nano/default.nanorc

include {{ $usr_prefix }}/share/nano/sh.nanorc
include {{ $usr_prefix }}/share/nano/c.nanorc
include {{ $usr_prefix }}/share/nano/go.nanorc
include {{ $usr_prefix }}/share/nano/rust.nanorc

set linenumbers
set mouse
set smarthome
