{{ if not .windows }}

{{ if lookPath "pandoc" -}}
*.docx diff=pandoc
*.xlsx diff=pandoc
*.pptx diff=pandoc
*.odt  diff=pandoc
*.rtf  diff=pandoc
{{ end -}}

{{ if lookPath "antiword" -}}
*.doc  diff=antiword
{{ else if lookPath "catdoc" -}}
*.doc  diff=catdoc
{{ end -}}

{{ if lookPath "pdftotext" -}}
*.pdf  diff=pdftotext
{{ end -}}

{{ end -}}
