{{ if not .windows }}

{{ if lookPath "pandoc" -}}
*.docx diff=pandoc
*.pptx diff=pandoc
*.odt  diff=pandoc
*.rtf  diff=pandoc
{{ end -}}

{{ if false -}}{{/* neither works... */ -}}
{{ if lookPath "soffice" -}}
*.xls   diff=soffice
*.xlsx  diff=soffice
{{ else if lookPath "pandoc" -}}
*.xlsx diff=pandoc
{{ end -}}
{{ end -}}

{{ if lookPath "antiword" -}}
*.doc  diff=antiword
{{ else if lookPath "catdoc" -}}
*.doc  diff=catdoc
{{ else if lookPath "soffice" -}}
*.doc  diff=soffice
{{ end -}}

{{ if lookPath "pdftotext" -}}
*.pdf  diff=pdftotext
{{ end -}}

{{ end -}}
