local os = require 'os'

local fh,err = assert(io.popen("uname 2>/dev/null","r"))
if fh then
  osname = fh:read()
end

if osname == "Linux" then
  -- Не надо -l ...
  cf.default_prog = { os.getenv('SHELL') }
end

{{ template "wezterm" dict "windows" .windows  "linux" .linux -}}
