[Desktop Entry]
Name=Open in Far2L
Name[ru]=Открыть в Far2L
Icon=far2l
Comment=FAR Manager
Terminal=false
Exec=far2l --notty %u
Type=Application
MimeType=inode/directory
Categories=Utility;Core;System;FileTools;FileManager;ConsoleOnly
Keywords=File;Manager;Explorer;Browser;Launcher
